POSICIONES_ENTRENADORES=[ 4|4, 5|5, 6|6 ]
POKEMON_ENTRENADORES=[Pikachu|Squirtle, Pikachu|Charmander, Bulbasaur|Pikachu]
OBJETIVOS_ENTRENADORES=[Pikachu|Pikachu|Squirtle|Pidgey, Pikachu|Charmander|Charmander, Pikachu|Squirtle|Bulbasaur]
TIEMPO_RECONEXION=5
RETARDO_CICLO_CPU=2
ALGORITMO_PLANIFICACION=FIFO
QUANTUM=3
ALPHA=0.5
ESTIMACION_INICIAL=5
IP_BROKER=127.0.0.1
PUERTO_BROKER=4444
LOG_FILE=/home/utnso/Documentos/tp-2020-1c-C-aprueba/team-v2/src/resources/log_team1.txt